[submodule "packages/compat"]
	path = packages/compat
	url = https://github.com/emacs-compat/compat.git
[submodule "packages/consult"]
	path = packages/consult
	url = https://github.com/minad/consult.git
[submodule "packages/corfu"]
	path = packages/corfu
	url = https://github.com/minad/corfu.git
[submodule "packages/doom-themes"]
	path = packages/doom-themes
	url = https://github.com/doomemacs/themes.git
[submodule "packages/rust-mode"]
	path = packages/rust-mode
	url = https://github.com/rust-lang/rust-mode.git
[submodule "packages/use-package"]
	path = packages/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "packages/vertico"]
	path = packages/vertico
	url = https://github.com/minad/vertico.git
[submodule "packages/dash"]
	path = packages/dash
	url = https://github.com/magnars/dash.el.git
[submodule "packages/magit"]
	path = packages/magit
	url = https://github.com/magit/magit.git
[submodule "packages/transient"]
	path = packages/transient
	url = https://github.com/magit/transient.git
[submodule "packages/with-editor"]
	path = packages/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "packages/yasnippet"]
	path = packages/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "packages/yaml-mode"]
	path = packages/yaml-mode
	url = git@github.com:yoshiki/yaml-mode.git
[submodule "packages/hdf5-mode"]
	path = packages/hdf5-mode
	url = git@github.com:paublo96/emacs-hdf5.git
